#navbar {
  width: 80%;
  height: 23px; }
  #navbar ul {
    list-style-type: none; }
  #navbar li {
    float: left; }
    #navbar li a {
      font-weight: bold; }

#header_wrapper {
  background-color: #1461b3; }
  #header_wrapper ul {
    list-style-type: none; }
  #header_wrapper li {
    float: left; }
    #header_wrapper li a {
      text-decoration: none; }
